<div class="MenuDiv Panel">
	<div ng-click="load('draw')" id="MenuDraw" class="MenuButton">
		<div class="MenuImage"></div>
		<span>Draw</span>
	</div>
	<div ng-click="load('branch')" id="MenuBranch" class="MenuButton">
		<div class="MenuImage"></div>
		<span>Branches</span>
	</div>
	<div ng-click="load('replay')" id="MenuReplay" class="MenuButton">
		<div class="MenuImage"></div>
		<span>Replay</span>
	</div>
	<div ng-click="load('history')" id="MenuHistory" class="MenuButton">
		<div class="MenuImage"></div>
		<span>Saved</span>
	</div>
	<div ng-click="load('settings')" id="MenuSettings" class="SettingsButton MenuButton">
		<div class="MenuImage"></div>
		<!--<span>Settings</span>-->
	</div>
</div>