/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "base";

html, body {
	@include full;
}

body {
	background-color: $base-dark; // Old browsers
	@include background-image(radial-gradient(center, ellipse cover, $base-light 0%, $base-dark 100%));
}

/**
* Buttons
*/

.GreenBtn {
	background-color: black;
	@include background-image(linear-gradient(top, 
		#68be32 0%,
		#3e9822 50%,
		#1f8f0c 51%,
		#45a525 100%));
		
	border: #AAA 1px solid;
	@include border-radius(5px);
}

/**
* Top View
*/

.TopView, .Panel {
	@include full;
	position: relative;
}

/**
* Splash Panel
*/

.SplashImg {
	position: absolute;
	
	@include center(60%, 40%);
	
	@media screen and (orientation: landscape) {
		@include center(40%, 60%);
	}
	
	background: transparent url('../img/SmallLogo.png') no-repeat center center;
	@include background-size(contain);
	
	@include Icon(9px, 15px);
}

/**
* Login Panel
*/

.LoginDiv {}

#LoginForm {
	position: absolute;
	
	@include center(40%, 90%);
	@media screen and (orientation: landscape) {
		@include center(50%, 70%);
	}
	
	input {
		color: #222;
		font-size: 1.3em;
		font-weight: 900;
		font-family: 'Helvetica';
	}
	
	/*@include ColorBox;*/
	@include Icon(2px, 7px);
}

.LoginText {
	width: 90%;
	height: 2em;
	
	margin: 5%;
}

.LoginBtn {
	@include sizePos(50%, 20%, absolute, auto, auto, 5%, 5%);
}

/**
* Menu Panel
*/

.MenuDiv {
	position: relative;
}

.MenuButton {
	@include sizePos(40%, 30%, relative, 4%, 15%);
	
	@media screen and (orientation: landscape) {
		@include sizePos(30%, 40%, relative, 15%, 4%);
	}
	
	margin: 2%;
	float: left;
	
	/*@include ColorBox;*/
	@include Icon(3px, 10px);
	@include box-sizing(border-box);
	
	text-align: center;
	
	span {
		font-size: 2em;
		font-weight: 900;
		color: #333;
		position: relative;
		top: 35%;
	}
	
	.MenuImage {
		@include box-sizing(border-box);
		/*@include Icon(2px, 10px);*/
		@include sizePos(65%, 65%, relative, 16.5%, 5%);
		margin-bottom: 5%;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

#MenuDraw {
	.MenuImage {
		background-image: url('../img/PencilIcon.png');
		@include background-size(80%);
	}
}
#MenuBranch {
	.MenuImage {
		background-image: url('../img/BranchIcon.png');
		@include background-size(80%);
	}
}
#MenuReplay {
	.MenuImage {
		background-image: url('../img/PlayIcon.png');
		@include background-size(80%);
	}
}
#MenuHistory {
	.MenuImage {
		background-image: url('../img/SaveIcon.png');
		@include background-size(80%);
	}
}

.SettingsButton {
	@include sizePos(10%, 15%, absolute, auto, auto, 0%, 0%);
	margin: 1%;
	
	.MenuImage {
		@include sizePos(100%, 100%);
		background-image: url('../img/GearIcon.png');
		@include background-size(contain);
	}
}

/**
* Draw Panel
*/
.DrawDiv{
	@include full;
	background-color: white;

	overflow: hidden;
}

.DrawContainer {
	@include full;
}

.DrawCanvas {
	@include sizePos(auto, auto, absolute, 0%, 0%);
}

.DrawMouseDiv {
	@include sizePos(auto, auto, absolute, 0%, 0%);
}

.DrawBrush {
    display: none;
}

/**
* Drawing Menu
*/
.DrawMenu {
	@include sizePos(100%, 10%, absolute, -11%, auto, auto, 0%);
	min-height: 50px;
	min-width: auto;
	display: none;
	
	@media screen and (orientation: landscape) {
		@include sizePos(10%, 100%, absolute, auto, auto, -11%, 0%);
		min-width: 50px;
		min-height: auto;
	}
	
	@include box-sizing(border-box);
	background-color: adjust-saturation($base-dark, 30%);
	border-left: 1px solid #777;
	
	z-index: 1;
}

.DrawMenuOpen{
	@include sizePos(100%, 10%, absolute, 0%, auto, auto, 0%);
	display: block;
	
	@media screen and (orientation: landscape) {
		@include sizePos(10%, 100%, absolute, auto, auto, 0%, 0%);
	}
}

.DrawBtn {
	float: left;
	@include sizePos(12.1%, 80%);
	margin: 1%;
	
	@media screen and (orientation: landscape) {
		@include sizePos(80%, 12.1%);
		margin: 5% 7%;
	}
	
	span {
		display: none;
	}
	
	@include Icon(1px, 10px);
	background-repeat: no-repeat;
	background-position: center center;
}

#PencilBtn {
	background-image: url('../img/PencilIcon.png');
	@include background-size(80%);
}
#EraseBtn {
	background-image: url('../img/EraseIcon.png');
	@include background-size(80%);
}
#UndoBtn {
	background-image: url('../img/UndoIcon.png');
	@include background-size(80%);
}
#LayerBtn {
	background-image: url('../img/LayerIcon.png');
	@include background-size(80%);
}
#PaletteBtn {
	background-image: url('../img/PaletteIcon.png');
	@include background-size(80%);
}
#SaveBtn {
	background-image: url('../img/SaveIcon.png');
	@include background-size(80%);
}
#BackBtn {
	background-image: url('../img/BackIcon.png');
	@include background-size(80%);
}

.DrawMenuSlider {
	@include sizePos(10%, 7%, absolute, auto, auto, 0%, 0%);
	@media screen and (orientation: landscape) {
		@include sizePos(7%, 10%, absolute, auto, auto, 0%, 0%);
	}
	
	background: #333;
	opacity: .4;
	@include border-top-left-radius(7px);
	text-align: center;
	cursor: pointer;
	
	span {
		opacity: 1;
		color: #FFF;
		font-weight: 900;
		font-size: 1.8em;
		
		position:relative;
		top: 5%;
	}
}

.DrawMenuSliderOpen {
	@include sizePos(10%, 7%, absolute, auto, auto, 10%, 0%);
	@media screen and (orientation: landscape) {
		@include sizePos(7%, 10%, absolute, auto, auto, 10%, 0%);
	}
}
