/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "base";

html, body {
	@include full;
}

body {
	background-color: $base-dark; // Old browsers
	@include background-image(radial-gradient(center, ellipse cover, $base-light 0%, $base-dark 100%));
}

/**
* Buttons
*/

.GreenBtn {
	background-color: black;
	@include background-image(linear-gradient(top, 
		#68be32 0%,
		#3e9822 50%,
		#1f8f0c 51%,
		#45a525 100%));
		
	border: #AAA 1px solid;
	@include border-radius(5px);
}

/**
* Top View
*/

.TopView, .Panel {
	@include full;
	position: relative;
}

/**
* Splash Panel
*/

.SplashImg {
	position: absolute;
	
	@include center(60%, 40%);
	
	@media screen and (orientation: landscape) {
		@include center(40%, 60%);
	}
	
	background: transparent url('../img/SmallLogo.png') no-repeat center center;
	@include background-size(contain);
	
	@include Icon(9px, 15px);
}

@import "login";
@import "menu";
@import "draw";

