{% extends "base.html" %}

{% block content %}
<div class="hv-top">
    <div class="hv-video">
        <canvas id="hv-canvas"></canvas>
    </div>
    <div class="hv-container">
        {% for art in latest_articles %}
        <div class="{% if forloop.first %}hv-big-article {% endif %}hv-article">
            <img src="{% if forloop.first %}{{art.large_img}}{% endif %}"></img>
            <a href="{{ link_start }}article/{{ art.slug }}">
                <h1>{{ art.headline }}</h1>
            </a>
            <a href="{{ link_start }}author/{{art.author.first_name|add:art.author.last_name}}">
                <h2>{{art.author.first_name|add:" "|add:art.author.last_name}}</h2>
            </a>
            <a href="{{ link_start }}article/{{ art.slug }}">
                <span class="hv-ellipsis">Read More...</span>
            </a>
            {{ art.blurb|linebreaks }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
