/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* _base.scss
 * This is the base stylesheet with common variables,
 * framework utitlities, and custom mixins.
 * It does not compile to .css
 */
/* line 17, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*  Media Queries  */
/** Basic Colors  */
/** Created from $base-color on kuler.adobe.com */
/** Monochromatics */
/** Analagous */
/** Other */
/* line 9, ../scss/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #21231D;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #98af98), color-stop(50%, #eeeeee), color-stop(100%, #98af98));
  background-image: -webkit-linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  background-image: -moz-linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  background-image: -o-linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  background-image: linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  text-decoration: none;
  font-size: 100%;
  color: #333;
}
/* line 24, ../scss/screen.scss */
html ul, body ul {
  list-style: disc;
  padding: 0 0 1em 2em;
}
/* line 29, ../scss/screen.scss */
html p, body p {
  padding: 0.5em 0;
}

/* line 34, ../scss/screen.scss */
body {
  /*@include background-image(radial-gradient(center, ellipse cover, $base-color 0%, $base-comp0 100%));*/
}

/* line 37, ../scss/screen.scss */
a:link {
  text-decoration: none;
  color: inherit;
}

/* line 38, ../scss/screen.scss */
a:visited {
  text-decoration: none;
  color: inherit;
}

/* line 39, ../scss/screen.scss */
a:active {
  text-decoration: none;
  color: inherit;
}

/* line 40, ../scss/screen.scss */
a:hover {
  text-decoration: none;
  color: inherit;
}

/** base.html styles */
/** Header Styles */
/* line 47, ../scss/screen.scss */
.Header {
  width: 100%;
  height: 150px;
  background-color: #EEE;
  border-bottom: 2px outset #333333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eeeeee), color-stop(30%, #eeeeee), color-stop(80%, #98af98), color-stop(100%, #98af98));
  background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 30%, #98af98 80%, #98af98 100%);
  background-image: -moz-linear-gradient(left, #eeeeee 0%, #eeeeee 30%, #98af98 80%, #98af98 100%);
  background-image: -o-linear-gradient(left, #eeeeee 0%, #eeeeee 30%, #98af98 80%, #98af98 100%);
  background-image: linear-gradient(left, #eeeeee 0%, #eeeeee 30%, #98af98 80%, #98af98 100%);
}

/* line 59, ../scss/screen.scss */
.HeaderTop {
  height: 100%;
  float: left;
  background-color: #EEE;
  border: 0.5em solid #eeeeee;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 71, ../scss/screen.scss */
.HeaderTop img {
  height: 100%;
}

/**
* User Top Bar Style
*/
/* line 80, ../scss/screen.scss */
.User {
  width: auto;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 5px 0 0;
  z-index: 99;
  cursor: pointer;
}

/* line 94, ../scss/screen.scss */
.UserImg {
  width: 50px;
  height: 50px;
  float: right;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  background: transparent url("../img/me.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: none;
}

/* line 107, ../scss/screen.scss */
.UserName {
  font-size: 1.5em;
  font-weight: 900;
  color: #111;
  float: right;
  position: relative;
  top: 15px;
  margin-left: 8px;
}

/** Navigation Styles */
/* line 122, ../scss/screen.scss */
.Navigation {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 108px;
  right: 0;
}

/* line 131, ../scss/screen.scss */
.NavBtn {
  height: 100%;
  float: right;
  padding: 0 1em;
  margin: 0 0.2em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #68be32), color-stop(50%, #3e9822), color-stop(51%, #1f8f0c), color-stop(100%, #45a525));
  background-image: -webkit-linear-gradient(top, #68be32 0%, #3e9822 50%, #1f8f0c 51%, #45a525 100%);
  background-image: -moz-linear-gradient(top, #68be32 0%, #3e9822 50%, #1f8f0c 51%, #45a525 100%);
  background-image: -o-linear-gradient(top, #68be32 0%, #3e9822 50%, #1f8f0c 51%, #45a525 100%);
  background-image: linear-gradient(top, #68be32 0%, #3e9822 50%, #1f8f0c 51%, #45a525 100%);
  border-left: 2px solid #333333;
  border-top: 1px solid #333333;
  border-right: 2px solid #333333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  -ms-border-radius: 0.1em;
  -o-border-radius: 0.1em;
  border-radius: 0.1em;
}
/* line 105, ../scss/_base.scss */
.NavBtn:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c6d1d), color-stop(50%, #1c450f), color-stop(51%, #0b3104), color-stop(100%, #225212));
  background-image: -webkit-linear-gradient(top, #3c6d1d 0%, #1c450f 50%, #0b3104 51%, #225212 100%);
  background-image: -moz-linear-gradient(top, #3c6d1d 0%, #1c450f 50%, #0b3104 51%, #225212 100%);
  background-image: -o-linear-gradient(top, #3c6d1d 0%, #1c450f 50%, #0b3104 51%, #225212 100%);
  background-image: linear-gradient(top, #3c6d1d 0%, #1c450f 50%, #0b3104 51%, #225212 100%);
}
/* line 112, ../scss/_base.scss */
.NavBtn:hover span {
  color: #AAA;
}

/* line 142, ../scss/screen.scss */
.NavBtn span {
  position: relative;
  top: 20%;
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: 900;
  color: #000;
}

/** Body styles */
/* line 155, ../scss/screen.scss */
.BodyDiv {
  width: 100%;
  height: auto;
  float: left;
  background-color: #EEE;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #98af98), color-stop(50%, #eeeeee), color-stop(100%, #98af98));
  background-image: -webkit-linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  background-image: -moz-linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  background-image: -o-linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  background-image: linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
}

/** Footer styles */
/* line 168, ../scss/screen.scss */
.footer {
  width: 100%;
  position: relative;
  text-align: center;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #98af98), color-stop(50%, #eeeeee), color-stop(100%, #98af98));
  background-image: -webkit-linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  background-image: -moz-linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  background-image: -o-linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  background-image: linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  clear: both;
}

/* line 178, ../scss/screen.scss */
.footer-center {
  width: 90%;
  margin: 0 5%;
  border-top: 1px solid #aaaaaa;
}

/* line 186, ../scss/screen.scss */
.foot-links {
  display: inline-block;
  padding: 0 1em 0.5em 1em;
  margin: 1em 0 0.5em 0;
  border-right: 2px solid #aaaaaa;
}

/* line 194, ../scss/screen.scss */
.foot-links a {
  display: inline-block;
  padding: 0.1em 0;
}

/* line 199, ../scss/screen.scss */
.foot-img {
  display: inline-block;
}

/* line 203, ../scss/screen.scss */
.foot-img img {
  width: 15em;
  margin: 0 1em;
}

/* line 208, ../scss/screen.scss */
.foot-copy {
  position: absolute;
  right: .5em;
  bottom: .5em;
}

/** Page imports **/
/* line 1, ../scss/_home.scss */
.hv-top {
  width: 100%;
  height: 100%;
  clear: both;
}

/* line 7, ../scss/_home.scss */
.hv-video {
  width: 96%;
  height: 90%;
  margin: 2% 2%;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #bbbbbb));
  background-image: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #bbbbbb 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #bbbbbb 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #bbbbbb 100%);
  background-image: radial-gradient(center, ellipse cover, #ffffff 0%, #bbbbbb 100%);
  border: 1px solid #999999;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: #999999 5px 5px 5px;
  -moz-box-shadow: #999999 5px 5px 5px;
  box-shadow: #999999 5px 5px 5px;
}

/* line 24, ../scss/_home.scss */
#hv-canvas {
  width: 90%;
}

/* line 28, ../scss/_home.scss */
.hv-container {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #98af98), color-stop(50%, #eeeeee), color-stop(100%, #98af98));
  background-image: -webkit-linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  background-image: -moz-linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  background-image: -o-linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
  background-image: linear-gradient(left, #98af98 0%, #eeeeee 50%, #98af98 100%);
}

/* line 35, ../scss/_home.scss */
.hv-article {
  width: 28%;
  margin: 2% 1.5%;
  padding: 1% 1% 2em 1%;
  float: left;
  position: relative;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #dddddd 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #dddddd 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #dddddd 100%);
  background-image: radial-gradient(center, ellipse cover, #ffffff 0%, #dddddd 100%);
  border: 1px solid #bbbbbb;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: #999999 5px 5px 5px;
  -moz-box-shadow: #999999 5px 5px 5px;
  box-shadow: #999999 5px 5px 5px;
  font-family: Helvetica;
}

/* line 58, ../scss/_home.scss */
.hv-article h1 {
  font-size: 2em;
  font-weight: 900;
}

/* line 63, ../scss/_home.scss */
.hv-article h2 {
  font-size: 1.1em;
  font-weight: 900;
}

/* line 68, ../scss/_home.scss */
.hv-article img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 76, ../scss/_home.scss */
.hv-big-article {
  width: 88%;
  margin: 1% 5%;
}

/* line 82, ../scss/_home.scss */
.hv-ellipsis {
  position: absolute;
  bottom: .5em;
  right: 1em;
}
